# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Builds
build/
ios/Pods/
android/.gradle/
android/app/build/
web/.dart_tool/

# IDE
*.iml
.idea/
.vscode/

# Llaves/secretos (no subir)
android/app/*.keystore
android/app/key.properties
